[submodule "frontend"]
	path = frontend
	url = https://github.com/meke16/medical-expert-system-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/meke16/medical-expert-system-backend.git
